body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dcd;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    max-width: 40rem;
    margin: auto 1rem;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 1rem;
    margin-top: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer > .subscription > form {
    border: 1px solid #ccc;
    padding: 0.25rem;
    text-align: center;
}

footer > .subscription #tlemail {
    width: 10rem;
}

footer > .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 0;
}

footer > .links > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

footer > .links img {
    height: 2.5em;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}

footer .backlink {
    padding: 1rem;
}

header h1 {
    font-style: italic;
    font-family: Georgia, serif;
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed #444;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: inherit;
}
