/* stylesheet for the shadow DOM element with rendered markdown */

h1,
h2,
h3 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.markdown-body a {
  color: var(--link-colour);
}

.markdown-body {
  font-family: "Roboto", sans-serif;
  max-width: 95vw;
  color: var(--text-colour);
  text-align: justify;
}

.markdown-body img {
  display: block;
  max-height: 30rem;
  margin: 0 auto;
  background-color: unset;
}

.markdown-body table {
  max-width: max-content;
  margin: 0 auto 1rem;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  color: var(--unimportanttext-colour);
}

.toc li > p {
  margin: 0.5rem 0;
  padding: 0;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: var(--border-colour);
}

img {
  color: rgb(221, 37, 37);
  text-align: center;
}

.markdown-body > video {
  display: block;
  max-height: 30rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: unset;
  margin-bottom: 16px;
}
