body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dcd;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: start;
  align-items: center;

  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  position: relative;
}

header #rss {
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%) scale(1.25);
  filter: invert(54%) sepia(46%) saturate(4069%) hue-rotate(344deg)
    brightness(95%) contrast(100%); /* from https://codepen.io/sosuke/pen/Pjoqqp */
}

main {
  max-width: 40rem;
  margin: auto 1rem;
}

main > hr {
  margin: 2rem 2rem;
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding: 1rem;
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

footer > .subscription > form {
  border: 1px solid #ccc;
  padding: 0.25rem;
  text-align: center;
}

footer > .subscription #tlemail {
  width: 10rem;
}

footer > .links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0;
}

footer > .links > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

footer > .links img {
  height: 2.5em;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

footer .backlink {
  padding: 1rem;
}

header h1 {
  font-style: italic;
  font-family: Georgia, serif;
  padding-bottom: 0.25rem;
  border-bottom: 1px dashed #444;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: inherit;
}
